@import "tailwindcss";

@theme {
    --font-sans: 'DM Sans', ui-sans-serif, system-ui;
    --font-mono: 'DM Mono', ui-monospace, monospace;
    --color-hawk-50: #EFF6FF;
    --color-hawk-100: #DBEAFE;
    --color-hawk-200: #BFDBFE;
    --color-hawk-300: #93C5FD;
    --color-hawk-400: #60A5FA;
    --color-hawk-500: #3B82F6;
    --color-hawk-600: #2563EB;
    --color-hawk-700: #1D4ED8;
    --color-hawk-800: #1E40AF;
    --color-hawk-900: #1E3A8A;
}